body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    min-height: 100%;
    font-family: "Lato", sans-serif;   

}

header{
    background-color: rgb(187, 175, 175);
    height: 80px;
    width: 100%;  
    margin: 0px;
    padding: 0px;
}

nav p{
    display: inline-block;
    font-size: 1.5em;
    color: black;
    text-decoration: none;
    margin: 0px;
    margin-left: 50px;
    padding: 20px;
}

main{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 0;
    padding: 0;
    margin-top: 30px;
    padding-left: 30px;
}

main #container{
    margin: 0;
    padding: 0;
    margin: 50px;
    justify-self: end;
    
}


#container .text{
    font-size: 1.7em;
    padding-top: 15px;
    font-weight: 400;
}



main .box{
    border: 1px solid rgb(227, 219, 219);
    border-radius: 20px;
    background-color: rgb(196, 172, 218);
    margin: 50px;
    padding: 10px;
    width: 500px;
    justify-self: center;
}

form{
    display: grid;
    padding: 30px;
}


form input{
    margin-bottom: 30px;
}

form button{
    font-size: 1.2em;
    padding: 13px;
    border: none;
    border-radius: 15px;
    justify-self: center;
}

form button:hover{
    background-color: plum;
}

.formName{
    font-size: 1.8em;
    text-align: center;
}

.box .remindText{
    text-align: center;
    padding-top: 20px;
   
}


.box p a{
    text-decoration: none;
}

/* 
signup form */
#signupStyle{
    background-color: rgb(228, 163, 202);
}



/* main page styling start here */
#mainPage{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    overflow: hidden;
}

#iconProfile{
    margin: 15px;
    margin-right: 80px;
    padding: 5px;
    justify-self: end;
}
nav .profileIcon{
  font-size: 40px;
}

#mainContent{
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.sideBar{
    background-color: rgb(175, 146, 146);
    height: 83vh;
    border-radius: 30px;
    margin: 25px;
    margin-bottom: 10px;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    
}

#links{
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    padding: 20px;
    margin-top: 30px;
}

.sideBar img{
    margin: 30px;
    padding-left: 35px;
}

#links a i{
    padding: 5px;
}

#links a{
    margin-bottom: 10px; 
    color: black;
    font-size: 25px; 
    text-decoration: none;
    padding: 6px;
}


.workMain{
    background-color: rgb(200, 183, 216);
    height: 100vh;
    padding: 0px;
    /* border-radius: 10px;
    margin-top: 20px; 
    margin-right: 20px; */
    margin-bottom: 0px; 
}




#createNote{
    display: grid;
    margin: 30px;
     /* margin-top:20px;
    margin-bottom: 0px; */
   
}



#createNote form .titleHeader{
    height: 45px;
    margin: 0;
    padding-left: 20px;
    padding-top: 20px;
    border: none;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 10px 10px 0.5px 1.5px;
    /* background-color: rgb(106, 110, 150); */
    color: black;
}

#createNote form .content{
    height: 500px;
    border: none;
    border-radius: 0.5px 1.5px 10px 10px;
    padding: 20px;
    /* background-color: rgb(204, 222, 237); */
}


#createNote form textarea:focus, input:focus{
    outline: none;
}

.button-container {
    display: flex;
    justify-content: center; 
    margin: 0px;
    margin-top: 40px;
    gap: 35px; /* Adds space between the buttons */
}



footer{
    margin: 0px;
    font-size: 15px;
    padding-top: 10px;
    text-align: center;
    background-color: rgb(87, 141, 202);
    height: auto;
}

footer p{
    margin: 0px;
    color: black;
}